<h1>Department Data</h1>

<div class="bg-secondary w-50 p-2">
  <input type="text" [(ngModel)]="ndept.id" class="m-1 form-control w-50" placeholder="Department Id">
  <input type="text" [(ngModel)]="ndept.name" class="m-1 form-control w-50" placeholder="Department Name">
  <input type="text" [(ngModel)]="ndept.location"  class="m-1 form-control w-50" placeholder="Department Location">
  <button (click)="add()" class="btn btn-primary m-3">Add</button>

</div>

<table class="table table-striped|sm|bordered|hover|inverse table-inverse table-responsive">
  <thead class="thead-inverse|thead-default">
    <tr>
      <td>#</td>
      <th>Id</th>
      <th>Department Name</th>
      <th>Department Location</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of depts;let ser=index">
        <td>{{ ser+1 }}</td>
        <td >{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.location }}</td>
        <td>
          <button class="btn btn-info" (click)="show(item.id)">Details</button>
          <button class="m-2 btn btn-warning" (click)="remove(item.id)">Remove</button>
        </td>
      </tr>

    </tbody>
</table>
